.block {
  padding: 120px 0 190px;
  @media (max-width: $pc) {
    padding: 83px 0 150px;
  }
  @media (max-width: $tablet) {
    padding: 80px 0 180px;
  }
  @media (max-width: $mobile) {
    padding-bottom: 130px;
  }

  &.pb-100 {
    padding-bottom: 100px;
    @media (max-width: $tablet) {
      padding-bottom: 65px;
    }
  }

  &_gray {
    background: #F0EDEB;
    padding: 83px 0;
    @media (max-width: $mobile) {
      padding: 65px 0;
    }

    .block__right {
      background: var(--white);
    }
  }

  &_blog {
    position: relative;
    padding-bottom: 100px;
    @media (max-width: $pc) {
      background: #F0EDEB;
    }
    @media (max-width: $tablet) {
      padding: 60px 0;
    }
    @media (max-width: $mobile) {
      background: transparent;
    }

    .block__row {
      align-items: flex-start;
      @media (max-width: $tablet) {
        align-items: center;
      }
      @media (max-width: $mobile) {
        position: relative;
        &::after {
          content: '';
          height: 200vh;
          width: 170vw;
          bottom: 35px;
          position: absolute;
          left: -30vw;
          z-index: -1;
          background: #F0EDEB;
        }
      }
    }

    .block__content {
      padding-bottom: 115px;
      padding-top: 30px;
      position: relative;
      @media (max-width: $pc) {
        padding-bottom: 50px;
      }
      @media (max-width: $tablet) {
        padding: 0;
      }

      &::after {
        content: '';
        height: 100vw;
        width: 170vw;
        bottom: 0;
        position: absolute;
        left: -30vw;
        z-index: -1;
        background: #F0EDEB;
        @media (max-width: $pc) {
          display: none;
        }

      }
    }

    .block__right {
      background: var(--white);
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 80px;
    @media (max-width: $tablet) {
      gap: 20px;
    }
    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__title-small {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__content {
    width: percent(810, 1605);
    flex-shrink: 0;
    @media (max-width: $mobile) {
      margin-bottom: 60px;
      width: 100%;
    }

  }

  &__link {
    color: var(--gray);

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__socials {
    margin-top: 40px;
  }

  &__subtitle {
    border-bottom: 1px solid var(--black);
    font-weight: 600;
    line-height: math.div(18, 16);
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--black);
    padding-bottom: 10px;
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: 40px;
      @media (max-width: $tablet) {
        margin-bottom: 23px;
      }
      @media (max-width: $mobile) {
        margin-bottom: 40px;
      }
    }
  }

  &__text {
    margin-top: 24px;
    font-size: 22px;
    line-height: 150%;
    color: var(--gray);
    font-family: var(--font-allianz);
    max-width: 672px;

    &.fz-18 {
      font-size: 18px;
    }

    a {
      text-decoration: underline;
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
      @media (hover: hover) {
        &:hover {
          color: var(--orange);
        }
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
        @media (max-width: $mobile) {
          margin-bottom: 12px;
        }
      }
    }

    @media (max-width: $pc) {
      font-size: 18px;
      margin-top: 30px;
    }

  }

  &__label {

    span {
      display: inline-block;
      font-weight: 400;
      line-height: math.div(24, 16);
      color: var(--black);
      font-family: var(--font-allianz);
      background: #FFFFFF;
      border-radius: 3px 0px;
      padding: 3px 10px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title {
    text-transform: capitalize;

    .orange {
      background: var(--orange);
    }

    &:not(:last-child) {
      margin-bottom: 22px;
      @media (max-width: $mobile) {
        margin-bottom: 32px;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 16px 25px;
    margin-top: 52px;
    flex-wrap: wrap;
    @media (max-width: $tablet) {
      margin-top: 32px;
    }
  }

  &__button {
  }

  &__right {
    flex: 1 1 auto;
    background: var(--grey-100);
    border-radius: 16px;
    padding: 20px;
    margin-right: -180px;
    @media (max-width: $pc) {
      margin-right: -75px;
    }
    @media (max-width: $tablet) {
      margin-right: -110px;
      padding: 10px;
      border-radius: 8.70175px;
    }
    @media (max-width: $mobile) {
      margin-right: -60px;
      border-radius: 4.03921px;
    }

  }

  &__image-ibg {
    box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: percent(766, 954);

  }
}
