.brand {
  padding-top: 75px;
  @media (max-width: $tablet) {
    padding-top: 40px;
  }
  @media (max-width: $mobile) {
    padding-top: 30px;
  }

  &__title2 {
    margin-bottom: 100px;
    text-align: center;
    @media (max-width: $tablet) {
      margin-bottom: 34px;
    }
  }

  &__slider {
    overflow: visible !important;

    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
      align-items: center !important;
    }

    .swiper-slide {
      width: 200px !important;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: $mobile) {
        width: 160px !important;
      }
    }
  }
}

