.cases {
  padding-top: 130px;
  @media (max-width: $tablet) {
    padding-top: 80px;
  }
  @media (max-width: $mobile) {
    padding-top: 65px;
  }

  &__items {
    position: relative;
    display: grid;
    gap: 90px;
    @media (max-width: $tablet) {
      gap: 40px;
    }
    @media (max-width: $mobile) {
      gap: 24px;
    }
  }

  &__decor {
    position: absolute;
    z-index: -1;

    &_1 {
      width: 1250px;
      right: -131px;
      top: -61px;
      @media (max-width: 1200px) {
        right: auto;
        left: 70px;
        width: 1100px;
        top: -30px;

      }
    }

    &_2 {
      width: 258px;
      left: -128px;
      top: calc(100% - 268px);
      @media (max-width: $tablet) {
        display: none;
      }
    }

    &_3 {
      width: 651px;
      top: calc(100% + 128px);
      right: -203px;
      @media (max-width: 1200px) {
        top: calc(100% + 258px);
      }
      @media (max-width: $tablet) {
        top: calc(100% + 170px);
      }
      @media (max-width: $mobile) {
        top: calc(100% + 130px);
        right: auto;
        left: 100px;
      }
    }
  }

  &__pagging {
    margin-top: 100px;
    @media (max-width: $tablet) {
      margin-top: 60px;
    }
    @media (max-width: $mobile) {
      margin-top: 40px;
    }
  }
}
