.compare2 {
  padding: 105px 0 75px;
  @media (max-width: $tablet) {
    padding: 65px 0;
  }
  @media (max-width: $mobile) {
    padding-bottom: 80px;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 60px;
    color: var(--gray);
    @media (max-width: $tablet) {
      gap: 24px;
      flex-direction: column;
      align-items: flex-start;
    }

    &:not(:last-child) {
      margin-bottom: 84px;
      @media (max-width: $tablet) {
        margin-bottom: 40px;
      }
      @media (max-width: $mobile) {
        margin-bottom: 36px;
      }
    }
  }

  .container {
    max-width: 1078px;
  }

  &__title {
    width: percent(466, 1078);
    flex-shrink: 0;
    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    font-family: var(--font-allianz);
  }

  &__row {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @media (max-width: $pc) {
      gap: 30px;
    }
    @media (max-width: $tablet) {
      gap: 24px;
    }
    @media (max-width: $mobile) {
      gap: 50px;
      grid-template-columns: repeat(1, 1fr);
    }

  }

  &__item {
  }

  &__buttons-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 54px;
    @media (max-width: $tablet) {
      margin-top: 60px;
    }
    @media (max-width: $mobile) {
      position: relative;
      &::after {
        content: '';
        width: 1px;
        background: var(--tan);
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 800px;
        z-index: -1;
      }
    }
  }


  &__decor {
    position: absolute;
    z-index: -1;

    &_1 {
      bottom: 24px;
      left: 50%;
      width: 886px;
      transform: translateX(-50%);
      @media (max-width: $tablet) {
        width: 460px;
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__button {
  }
}


.item-compare2 {
  background: #FBFAF9;
  border: 1.5px solid #E2E6E0;
  border-radius: 8px;
  padding: 80px 40px;
  overflow: hidden;
  @media (max-width: $tablet) {
    padding: 40px 20px;
  }

  &_dark {
    background: var(--charcoal);
    padding: 94px 40px;
    position: relative;
    @media (max-width: $tablet) {
      padding: 40px 20px;
    }

    &::before {
      content: '';
      border-radius: 10px;
      position: absolute;
      left: 20px;
      width: calc(100% - 40px);
      top: 25px;
      height: 100%;
      border: 1.5px solid var(--black);
      pointer-events: none;
      @media (max-width: $tablet) {
        display: none;
      }
    }


    &::after {
      content: '';
      height: 1.5px;
      bottom: 22px;
      left: 0;
      width: 100%;
      background: var(--black);
      position: absolute;
    }

    .item-compare2__content {
      color: var(--white);
    }

    .item-compare2__title {
      border-bottom: 1px solid var(--black);
      @media (max-width: $mobile) {
        padding-bottom: 12px;
      }

      h4 {
        display: inline-block;
        text-transform: capitalize;
        color: #283220;
        padding: 14.5px 32px;
        background: var(--white);
        border-radius: 90px;
        @media (max-width: $tablet) {
          padding: 17.5px 32px;
          width: 100%;
        }
        @media (max-width: $mobile) {
          padding: 15.5px 12px;
        }

      }
    }
  }

  &__decor {
    position: absolute;

    &_1 {
      bottom: 0;
      left: 0;
      @media (max-width: $tablet) {
        width: 60px;
      }
    }

    &_2 {
      top: 0;
      right: 0;
      @media (max-width: $tablet) {
        width: 100px;
        right: 20%;
      }
    }
  }

  &__title {
    border-bottom: 1px solid var(--tan);
    padding-bottom: 26px;
    font-size: 24px;
    line-height: math.div(30, 24);
    letter-spacing: -0.02em;
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      font-size: 18px;
      text-align: center;
    }
  }

  &__content {
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: math.div(24, 16);
    color: var(--gray);
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      padding-top: 20px;
    }

    ul {
      li {
        display: flex;
        gap: 15px;
        align-items: flex-start;

        img {
          width: 22px;
          height: 22px;
          flex-shrink: 0
        }

        &:not(:last-child) {
          margin-bottom: 36px;
          @media (max-width: $tablet) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
