.info {
  padding-bottom: 100px;

  &__test {
    rect {
      width: 100%;
      height: 100%;
    }
  }

  .container {
    max-width: 1288px;
    position: relative;
    @media (max-width: $tablet) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 60px;
        width: 100vw;
        background: #F7F5F3;
        height: 100%;
        border-radius: 30px;
        @media (max-width: $mobile) {
          right: 0;
          border-radius: 0;
        }

      }
    }
  }

  &__mob-content {
    text-align: center;
    font-family: var(--font-allianz);
    font-weight: 500;
    @media (max-width: $tablet) {
      max-width: 510px;
      margin: 0 auto;
    }
    @media (max-width: $mobile) {
      text-align: left;
    }

    h4 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 14px;
      @media (max-width: $mobile) {
        font-weight: 400;
      }
    }

    p {
      font-size: 16px;
      line-height: 30px;
      color: var(--gray);
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__row {
    display: flex;
    gap: 30px;
    padding: 100px 0;
    position: relative;
    justify-content: space-between;
    @media (max-width: $pc) {
      padding: 60px 0;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 0px;
    }

  }

  &__decor-line {
    position: absolute;
    z-index: -1;


    &_1 {
      width: 971px;
      top: -90px;
      left: -400px;
      @media (max-width: $pc) {
        width: 700px;
      }

      @media (max-width: $tablet) {
        display: none;
      }
    }

    &_2 {
      @media (min-width: $tablet) {
        display: none;
      }
      width: 1240px;
      top: -57px;
      left: -122px;
    }

    &_3 {
      top: -250px;
      width: 1240px;
      left: 88px;
      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  &__pagination {
    @media (min-width: $tablet) {
      display: none;
    }
    position: relative;
    z-index: 2;
    margin-top: 40px;
  }

  &__content {
    max-width: 582px;
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      text-align: center;
      max-width: 510px;
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 40px;
    @media (max-width: $tablet) {
      margin-bottom: 24px;
    }
    @media (max-width: $mobile) {
      font-size: 24px;
    }

  }

  &__descr {
    font-size: 18px;
    line-height: 160%;
    color: var(--gray);
    font-family: var(--font-allianz);
    @media (max-width: $mobile) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 100px;
      @media (max-width: $pc) {
        margin-bottom: 80px;
      }
      @media (max-width: $tablet) {
        margin-bottom: 40px;
      }
      @media (max-width: $mobile) {
        margin-bottom: 54px;
      }
    }
  }

  &__items {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__blocks {

    position: relative;

    &::after {
      content: '';
      background: #F7F5F3;
      border-radius: 30px;
      width: 100vw;
      top: -100px;
      height: calc(100% + 200px);
      right: 50%;
      position: absolute;
      @media (max-width: $pc) {
        top: -60px;
        height: calc(100% + 120px);
      }
      @media (max-width: $tablet) {
        right: 60px;
      }

    }

  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    animation: slide-top 0.5s ease;
    @media (max-width: $tablet) {
      position: relative;
      max-width: 275px;
      margin: 0 auto 40px;
      padding: 20px;
      background: var(--white);
      border: 0.473373px solid #EAE5E1;
      border-radius: 3.78698px;
      animation: none;
      height: 400px;
      overflow: hidden;
    }

    img {
      max-height: 100%
    }
  }

  &__image-wrap {
    position: relative;
    max-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    &.center {
      justify-content: flex-start;
    }
  }

  &__wrap {
    width: percent(583, 1288);
    flex-shrink: 0;
    position: relative;

    &.swiper {
      overflow: visible;
      @media (max-width: $tablet) {
        overflow: hidden;
      }
    }

    @media (max-width: $tablet) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__block {
    background: var(--white);
    border: 1px solid #EAE5E1;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      background: transparent;
      border: none;
      display: block !important;
    }
  }

  &__img-big {
    position: relative;
    z-index: 2;
  }

  &__decor {
    position: absolute;

    &_11 {
      top: -10%;
      right: 0;
      width: calc(100% - 70px);
    }

    &_12 {
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }

    &_13 {
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
      width: calc(100% - 100px);
    }

    &_21 {
      left: -100px;
      top: 50%;
      transform: translateY(-50%);
      height: calc(80%);
    }

    &_31 {
      bottom: -80px;
      left: -40px;
      width: 100%;
    }

    &_32 {
      top: -100px;
      right: -40px;
    }

    &_41 {
      top: 0;
      right: 50px;
    }

    &_42 {
      bottom: 0;
      left: 0;
    }

    &_43 {
      width: 100%;
      top: 50%;
      right: -100px;
      height: calc(100% + 200px);
      transform: translateY(-50%);
      @media (max-width: $mobile) {
        height: 100%;
      }

      img {
        max-width: none;
        @media (max-width: $mobile) {
          max-height: 100%;
        }
      }
    }
  }

}

.info-item {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--black);
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  overflow: hidden;

  &._tab-active {
    h4 {
      opacity: 1;
    }

    p {
      opacity: 1;
      transform: translateY(0);
      position: relative;
    }
  }

  &:not(:last-child) {
    margin-bottom: 40px;
    @media (max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  h4 {
    font-size: 24px;
    line-height: math.div(30, 24);
    opacity: 0.5;
    letter-spacing: -0.02em;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (max-width: $tablet) {
      font-size: 20px;
    }
  }

  p {
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    padding-top: 8px;
    line-height: math.div(24, 16);
    color: var(--gray);
    font-family: var(--font-allianz);
    position: absolute;
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}