.study {
  padding: 75px 0;
  @media (max-width: $tablet) {
    padding: 65px 0;
  }

  &.dark {
    .study__wrap {
      background: var(--charcoal);
    }
  }

  &__wrap {
    border-radius: 16px;
    background: var(--camo);
    padding: 100px;
    position: relative;
    @media (max-width: $tablet) {
      padding: 60px 40px;
    }
    @media (max-width: $mobile) {
      padding: 50px 32px;
      margin: 0 -30px;
      border-radius: 0px;
    }

  }

  &__decor {
    position: absolute;
    z-index: -1;

    &_1 {
      width: 266px;
      right: -174px;
      top: -48px;
      @media (max-width: $mobile) {
        width: 300px;
        right: auto;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% - 137px);
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: math.div(30, 24);
    letter-spacing: -0.02em;
    color: var(--white);
    @media (max-width: $mobile) {
      text-align: center;
    }
  }

  &__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--light-green);
    flex-shrink: 0;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (max-width: $tablet) {
      width: 78px;
      border-radius: 50px;
      img {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      background: var(--orange);
    }
  }
}

.container {
}

.decor {
}