.support {
  padding-bottom: 100px;
  @media (max-width: $pc) {
    padding-bottom: 70px;
  }

  @media (max-width: $tablet) {
    padding-bottom: 65px;
  }

  &__wrap {
    background: #FBFAF9;
    border-radius: 16px;
    padding: 73px 140px 170px;
    position: relative;
    @media (max-width: $pc) {
      padding: 108px 66px;
    }
    @media (max-width: $tablet) {
      padding: 60px;
    }
    @media (max-width: $mobile) {
      padding: 50px 30px;
      margin: 0 -30px;
    }

  }

  &__decor {
    position: absolute;
    z-index: -1;

    &_1 {
      top: -100px;
      right: 395px;
      width: 1400px;
      @media (max-width: $pc) {
        right: 156px;
        top: -62px;
        width: 1230px;
      }
      @media (max-width: $tablet) {
        display: none;
      }
      @media (max-width: $tablet) {
        right: 260px;
        width: 700px;
      }
      @media (max-width: $mobile) {
        right: -120px;
        left: auto;
        width: 900px;
      }

    }

    &_3 {
      top: -66px;
      width: 1200px;
      left: -200px;
      @media (min-width: $mobile) {
        display: none;
      }
    }

    &_2 {
      top: -57px;
      left: -200px;
      width: 500px;
      @media (min-width: $tablet) {
        display: none;
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__title {
    text-align: center;
    color: var(--gray);

    &:not(:last-child) {
      margin-bottom: 40px;
      @media (max-width: $pc) {
        margin-bottom: 52px;
      }
      @media (max-width: $mobile) {
        margin-bottom: 40px;
      }

    }
  }

  &__grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding-top: 90px;
    position: relative;
    @media (max-width: $pc) {
      gap: 40px;
      padding-top: 65px;
    }
    @media (max-width: 1100px) {
      gap: 40px 20px;

    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width: $mobile) {
      padding-top: 40px;
    }

  }

  &__decor-line {
    position: absolute;
    right: 0;
    width: calc(100% + 140px);
    @media (max-width: $pc) {
      width: calc(100% + 66px);
    }
    @media (max-width: $tablet) {
      width: calc(100% + 60px);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background: var(--tan);
    }

    &::before {
      content: '';
      border: 1px solid var(--tan);
      position: absolute;
      top: 50%;
      right: 0;
      width: 10px;
      transform: translateY(-50%);
      height: 10px;
      border-radius: 10px;
      background: var(--white);
      z-index: 2;
    }
  }
}

.support-item {
  @media (max-width: $tablet) {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  @media (max-width: 570px) {
    flex-direction: column;
    gap: 24px;

  }

  &__image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--grey-100);
    border-radius: 8px;
    background: var(--light-green);
    padding: 24px;
    height: 327px;
    @media (max-width: $pc) {
      height: 295px;
    }
    @media (max-width: $tablet) {
      width: 178px;
      flex-shrink: 0;
      height: 151px;
      padding: 10px;
    }
    @media (max-width: 570px) {
      width: 100%;
      height: 278px;

    }


    img {
      max-height: 100%;
    }
  }

  &__content {
    padding-top: 32px;
    @media (max-width: $tablet) {
      padding-top: 0;
    }

    h4 {
      font-size: 24px;
      line-height: math.div(30, 24);
      letter-spacing: -0.02em;
      @media (max-width: $mobile) {
        font-size: 22px;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    p {
      font-weight: 400;
      line-height: math.div(24, 16);
      font-family: var(--font-allianz);
      color: var(--gray);
    }
  }
}

