.threat {
  padding: 170px 0 75px;
  position: relative;

  .container {
    max-width: 1258px;
  }

  &__decor {
    position: absolute;
    z-index: -1;

    &_1 {
      left: 0;
      width: 1250px;
      top: -50px;
    }

    &_2 {
    }
  }

  &__main {
    margin: 150px 0 190px;
  }

  &__grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 40px;
  }

  &__pagging {
    margin-top: 100px;
  }
}

.threat-top {
  text-align: center;

  &__label {
    position: relative;
    font-size: 26.3513px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: var(--orange);
    border: 1.52027px solid var(--black);
    border-radius: 101.351px;
    color: var(--black);
    padding: 10px 24px;
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: 75px;
    }
  }

  &__image-decor {
    position: absolute;
    width: 240px;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 43px;
    }
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    line-height: math.div(24, 16);
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    color: var(--gray);
    @media (hover: hover) {
      &:hover {
        color: var(--orange);
      }
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--light-green);
    border: 1.5px solid var(--black-main);
    box-shadow: 16px 16px 40px rgba(0, 0, 0, 0.04);
    border-radius: 50%;

    img {
      transform: rotate(180deg);
    }
  }
}


