.video-block {
  padding: 135px 0 75px;
  @media (max-width: $pc) {
    padding-top: 100px;
  }

  @media (max-width: $mobile) {
    padding-top: 50px;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 70px;
    position: relative;
    @media (max-width: $tablet) {
      gap: 30px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
  }

  &__decor {
    position: absolute;
    z-index: -1;

    &_1 {
      width: 1360px;
      right: 576px;
      top: -117px;
      @media (max-width: $pc) {
        right: 176px;
      }
      @media (max-width: $mobile) {
        width: 700px;
        top: 180px;
      }
    }

    &_2 {
      width: 651px;
      top: 201px;
      right: -204px;
      @media (max-width: 1300px) {
        width: 400px;

      }
      @media (max-width: 1100px) {
        width: 300px;
        top: 100px;

      }
      @media (max-width: $mobile) {
        display: none;
      }
    }

  }

  &__title {
    color: var(--gray);
  }

  &___image-ibg {
    width: percent(660, 1238);
    padding-bottom: percent(371, 1238);
    min-height: 371px;
    flex-shrink: 0;
    @media (max-width: $tablet) {
      min-height: auto;
    }
    @media (max-width: $mobile) {
      width: 100%;
      padding-bottom: percent(771, 1238);
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 66px;
    height: 66px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--camo);
    border: 1.65px solid var(--light-green);

    img {
      position: relative;
      width: 30px;
      height: 30px;
    }
  }
}

.container {
}

.decor {
}

.title2 {
}