:root {
  --white: #ffffff;
  --smoke: #E9E4E0;
  --sand: #D7C8B0;
  --camo: #4D5133;
  --light-green: #CDF1B2;
  --orange: #EE8F54;
  --lime: #CAD055;
  --black: #000000;
  --black-main: #121212;
  --gray: #464D41;
  --charcoal: #353535;
  --tan: #D7C9B1;
  --grey-100: #F0EDEB;

}
