.pagging {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  @media (max-width: $mobile) {
    gap: 24px;
  }
  @media (max-width: $mobileSmall) {
    gap: 16px;
  }

  ul {
    display: flex;
    justify-content: center;

    li {
      text-align: center;

      a {
        line-height: math.div(24, 16);
        font-family: var(--font-allianz);
        letter-spacing: 1.3em;
        color: #61665D;
        transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
        @media (hover: hover) {
          &:hover {
            color: var(--black-main);
          }
        }

        &.active {
          color: var(--black-main);
          font-weight: 700;
        }
      }
    }
  }

  &__arrow {
    flex-shrink: 0;
    @media (max-width: $mobile) {
      padding: 16px;
    }

    &_prev {
    }

    &_next {
      img {
        transform: rotate(180deg)
      }
    }
  }
}
