
.select {
  min-width: 0;
  position: relative;
  // .select__body
  &__body {
    position: relative;
  }

  &_filter {
    .select__title {
      background: var(--white);
      border: 1px solid var(--black-main);
      border-radius: 50px;
      padding: 12px 32px;
      font-weight: 500;
      color: var(--black-main);
    }

    .select__options {
      padding: 0;
      background: var(--white);
      border: 1px solid var(--black-main);
      border-radius: 20px;
    }

    .select__option {
      color: var(--black-main);
      padding: 12px 32px;
    }

    .select__value {
      padding: 0;

      &::after {
        content: '';
        background: url('@img/icons/arrow-select.svg') center /18px 18px no-repeat, var(--light-green);
        width: 32px;
        flex: 0 0 32px;
        height: 32px;
        border: 1.5px solid var(--black-main);
        box-shadow: 16px 16px 40px rgba(0, 0, 0, 0.04);
        border-radius: 50%;
      }
    }
  }

  // .select__title
  &__title {
    text-align: left;
    border: 1px solid rgba(18, 18, 18, 0.25);

    cursor: pointer;
    width: 100%;
    height: 56px;
    border-radius: 60px;
    padding: 4px 24px;
    font-weight: 500;
    font-family: var(--font-allianz);
    color: var(--gray);
    background: rgba(240, 237, 235, 0.25);
  }

  // .select__value
  &__value {
    display: flex;
    min-width: 0;
    align-items: center;
    gap: rem(10);

    > * {
      flex: 1 1 auto;
    }

    &:after {
      content: "";
      flex: 0 0 18px;
      transition: all 0.3s ease 0s;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      background: url('@img/icons/arrow-select2.svg') center /100% no-repeat;

      ._select-open & {
        transform: rotate(-180deg);
      }
    }

    &._select-pseudo-label {
      &::before {
        content: attr(data-pseudo-label);
        opacity: 0.5;
      }
    }
  }

  // .select__content
  &__content {
    flex: 1 1 auto;

  }

  // .select__text
  &__text {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }

  // .select__options
  &__options {
    color: #000;
    position: absolute;
    top: calc(100% + 2px);
    border: 1px solid rgba(18, 18, 18, 0.25);
    min-width: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px 0px 5px 0px;
    border-radius: 20px;
  }

  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальна висота
    max-height: rem(200);
    // Стилі скроллбару
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }

  // .select__option
  &__option {
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 10px 24px;
    color: inherit;
    font-weight: 500;
    font-family: var(--font-allianz);
    color: var(--gray);
    background: rgba(240, 237, 235, 0.25);

    &._select-selected {
      background-color: #eee;
    }

    @media (any-hover: hover) {
      &:hover {
        background: #d9d9d9;
      }
    }
  }


  &__row {
    display: inline-flex;
    align-items: center;
  }

  &__asset {
  }

  &__text {
  }

  &_show-top {
    .select__options {
      top: auto;
      bottom: calc(100% - rem(1));
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
      padding: 5px 0px 10px 0px;
    }
  }


  &._select-open {
  }

  &._select-disabled {
  }

  &._select-active {
  }

  &._select-focus {
  }

  &._select-multiple {
  }

  &._select-checkbox {
  }
}


._select-tag {
  cursor: pointer;
}
