.title2 {
  font-size: 48px;
  line-height: math.div(52, 48);
  letter-spacing: -0.02em;
  @media (max-width: $tablet) {
    font-size: 30px;
  }
}

.title {
  font-size: 56px;
  line-height: math.div(61, 56);
  letter-spacing: -0.025em;

  &_big {
    font-size: 64px;
    @media (max-width: $tablet) {
      font-size: 56px;
    }
    @media (max-width: $tablet) {
      font-size: 32px;
    }
  }

  @media (max-width: $tablet) {
    font-size: 32px;
  }
}

.decor {
  svg {
    width: 100%;

    &:last-child {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &__button {
    &.swiper-button-lock {
      opacity: 0.3;
      pointer-events: none;
    }

    &_prev {
    }

    &_next {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 14px;

  .swiper-pagination-bullet {
    opacity: 0.5;
    width: 13px;
    height: 13px;
    background: var(--black-main);
    border-radius: 50%;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}